@font-face {
  font-family: "Sci-Fi";
  src: url("/landing/assets/fonts/Sci-Fi.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src: url("/landing/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/landing/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src: url("/landing/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/landing/assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/landing/assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/landing/assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/landing/assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("/landing/assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 900;
}

/* main */
* {
  box-sizing: border-box;
}

.lock {
  height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #111136;
  overflow-y: scroll;
}

/* main {
  position: relative;
}

main::before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("/landing/assets/images/waves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1000;
} */

iframe {
  width: 100%;
  border: none;
}

.hash {
  background: -webkit-linear-gradient(
    -45deg,
    #ffa63d,
    #ff3d77,
    #338aff,
    #3cf0c5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}

main {
  position: relative;
}

.particles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1000;
}

/* Links and Buttons */

.cta-wrapper {
  text-align: center;
}

.link {
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #89253e;
  transition: color 0.3s ease;
}

.ls {
  letter-spacing: 1px;
}

/* .lsm {
  letter-spacing: -12px;
} */

.link--cta {
  display: inline-block;
  position: relative;
  padding: 14px 16px;
  border-radius: 6px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

.link--cta:hover,
.link--nav:hover {
  color: inherit;
}

.link--cta:hover {
  filter: contrast(130%);
}

.link--cta::before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  content: "";
  inset: -5px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;
  filter: blur(10px);
  opacity: 0.5;
  z-index: -10;
}

.link--more {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-bottom: 8px;
  font-size: 0;
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.link--more:hover {
  transform: translateY(-5px) rotate(45deg);
  transition: transform 0.3s ease;
}

.link--catalog {
  background-size: 250%;
}

.link--catalog::before {
  display: none;
}

.link--radio {
  font-weight: 400;
  font-size: 12px;
}

.link--radio:hover {
  color: inherit;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  width: 100%;
  font-size: 28px;
}

h3 {
  width: 100%;
  font-size: 20px;
}

p {
  max-width: 600px;
  font-size: 14px;
  text-align: left;
}

.section {
  margin-bottom: 36px;
  padding-top: 24px;
}

h2 {
  position: relative;
  max-width: fit-content;
}

h2::before {
  position: absolute;
  top: -35px;
  right: -45px;
  width: 75px;
  height: 75px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.5;
  z-index: -10;
}

.section--about h2::before {
  background-image: url("/landing/assets/icons/planner.png");
}

.section--platforms h2::before {
  background-image: url("/landing/assets/icons/piсture.png");
}

.section--games h2::before {
  background-image: url("/landing/assets/icons/game.png");
}

.section--price h2::before {
  background-image: url("/landing/assets/icons/wallet.png");
}

.section--find_us h2::before {
  background-image: url("/landing/assets/icons/pin.png");
}

.header__offer {
  margin-bottom: 40px;
  max-width: 450px;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 767px) {
  .header__offer {
    text-align: left;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  padding: 20px 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

/* Header */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: var(--vh, 1vh);
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: -100;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header__center {
  margin: auto 0;
}

.header__bottom {
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  text-align: center;
}

.container--header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100vh;
  height: var(--vh, 1vh);
}

.header__logo {
  width: 84px;
  height: 29px;
  z-index: 10000000;
}

.header__title {
  font-family: "Sci-Fi";
  margin-bottom: 5px;
  font-size: 36px;
  font-size: 28px;
  line-height: 0.9;
  text-transform: uppercase;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 600%;
  animation: anime 16s linear infinite;
}

.header__subtitle {
  font-family: "Sci-Fi";
  position: relative;
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 24px;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 600%;
  animation: anime 16s linear infinite;
}

/* hamburger */
.hamburger {
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  font-size: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 18px;
  overflow: visible;
  z-index: 10000000;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 25px;
  height: 18px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 320px) {
  .header__title {
    font-size: 26px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .header__bottom {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__top {
    justify-content: flex-start;
  }
  .header__logo {
    width: 120px;
    height: auto;
  }
  .header__title {
    font-size: 48px;
  }
  .header__subtitle {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .header__paragraph {
    max-width: 75%;
  }
}

@media (min-width: 800px) {
  .header__logo {
    margin-right: 20px;
  }
}

@media (min-width: 1025px) {
  .header,
  .container--header {
    height: 100vh;
  }
  .header__title {
    font-size: 56px;
  }
  .header__paragraph {
    max-width: 500px;
  }
  .header__bottom {
    display: flex;
  }
}

/* Nav */

.main-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #000;
  overflow: auto;
  z-index: 1000;
}

.main-nav--desktop {
  display: none;
  animation: none;
}

.main-nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 1000000;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a {
  display: block;
  padding: 10px 0;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item.main-nav__item--info a {
  font-size: inherit;
  text-transform: none;
}

.main-nav__address-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.main-nav__address,
.main-nav__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
}

.main-nav__address {
  margin-bottom: 10px;
}

.main-nav__address img,
.main-nav__time img {
  margin-right: 10px;
}

.main-nav__time img {
  position: relative;
  right: 3px;
}

.main-nav__address div,
.main-nav__time div {
  text-align: left;
}

.main-nav--closed {
  display: none;
}

@media only screen and (max-device-width: 700px) and (orientation: landscape) {
  .header__title {
    font-size: 18px;
  }

  .header__separator {
    display: none;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .header__paragraph {
    font-size: 14px;
  }

  .main-nav__list .contacts {
    margin-top: 10px;
  }

  .main-nav__item a {
    display: block;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    position: relative;
    flex-grow: 1;
    overflow: inherit;
    background: transparent;
  }

  .main-nav--mobile {
    display: none;
  }

  .main-nav--desktop {
    display: block;
  }

  .main-nav__wrapper {
    display: block;
    height: auto;
    padding: 0;
    background: transparent;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-nav__list .contacts {
    margin: 0;
    margin-left: auto;
  }

  .main-nav__item a {
    position: relative;
    display: inline;
    padding: 5px 0;
    margin: 10px;
    font-size: 14px;
  }

  .main-nav__item a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transition: all 0.3s;
  }

  .main-nav__item a:hover::after {
    width: 100%;
  }

  .hamburger {
    display: none;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contacts > :not(:last-child) {
  margin-right: 15px;
}

.main-nav--mobile .main-nav__item {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
}

.main-nav--mobile.main-nav--opened .main-nav__item {
  animation: fadeIn 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94) forwards;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(2) {
  animation-delay: 0.05s;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(3) {
  animation-delay: 0.1s;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(4) {
  animation-delay: 0.15s;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(5) {
  animation-delay: 0.2s;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(6) {
  animation-delay: 0.25s;
}

.main-nav--mobile.main-nav--opened .main-nav__item:nth-child(7) {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Pannellum */

#panorama {
  width: 100%;
  height: 50vh;
  border-radius: 4px;
}

@media (min-width: 768px) {
  #panorama {
    height: 75vh;
  }
}

div.pnlm-tooltip span {
  margin-top: -35px !important;
  width: max-content !important;
}

div.pnlm-tooltip span::after {
  display: none;
}

.pnlm-dragfix {
  cursor: grab;
}

.panorama-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 100;
}

.panorama-icon p {
  margin-right: 8px;
  line-height: 1;
}

.panorama-icon img {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: left;
  animation: translateSwipe 1s ease 0.5s infinite alternate-reverse,
    rotateSwipe 1s ease 1s infinite alternate-reverse;
}

@keyframes translateSwipe {
  100% {
    transform: translateX(10px);
  }
}

@keyframes rotateSwipe {
  100% {
    transform: rotate(0);
  }
}

/* Swiper */

.swiper-wrapper {
  position: relative;
  margin-bottom: 36px;
}

.swiper {
  width: 100%;
  height: auto;
  max-height: 90vh;
  border-radius: 4px;
}

.swiper.swiper--platform {
  width: 100%;
}

@media (min-width: 768px) {
  .swiper {
    width: 75%;
  }
}

.swiper img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.swiper p {
  margin-top: 4px;
  margin-bottom: 0;
}

.swiper-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 12px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.swiper-slide .title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: 48px;
  height: 48px;
  color: #89253e;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 32px;
  font-weight: 900;
}

.swiper-button-next:after {
  margin-left: 4px;
}

.swiper-button-prev:after {
  margin-right: 4px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #7e122d;
  transition: all 0.2s ease-out;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}

@media (min-width: 992px) {
  .swiper-wrapper .swiper-button-prev {
    left: 48px;
  }

  .swiper-wrapper .swiper-button-next {
    right: 48px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -24px;
}

.swiper-pagination-bullet {
  width: 2px;
  height: 10px;
  background: black;
  opacity: 0.8;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #7e122d;
}

/* Footer */

.footer {
  font-size: 12px;
  text-align: center;
  border-top: 2px solid #000;
}

.footer .contacts {
  margin: 0;
  margin-bottom: 8px;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.developer a {
  margin-left: 8px;
}

/* Platforms */

.platforms {
  margin: 48px 0;
}

.platform {
  margin: 24px auto 0 auto;
}

p.about-text {
  max-width: 600px;
}

.platform-title {
  display: flex;
  align-items: center;
}

h3.platform-name {
  position: relative;
  max-width: fit-content;
  margin: 24px 0;
  font-size: 24px;
  line-height: 1;
}

.platform-name::before {
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -75px;
  content: "";
  width: 150px;
  height: 150px;
  opacity: 0.8;
  z-index: -10;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.platform--htc .platform-name::before {
  background-image: url("/landing/assets/images/platforms/htc_vive/htc-headset.png");
}

.platform--psvr .platform-name::before {
  background-image: url("/landing/assets/images/platforms/psvr/psvr-headset.png");
}

.platform--ps5 .platform-name::before {
  background-image: url("/landing/assets/images/platforms/ps5/dualsense.png");
}

.platform--psvr .platform-img {
  text-align: center;
}

.platform--psvr .platform-info {
  margin-left: 0;
}

.platform-img {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .platform {
    display: flex;
    align-items: stretch;
  }

  .platform-img {
    width: 55%;
    margin-bottom: 32px;
  }

  .platform-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: 32px;
  }

  h3.platform-name {
    margin-top: auto;
    font-size: 40px;
  }

  .platform-name::before {
    top: -100px;
    width: 200px;
    height: 200px;
  }

  .platform-desc {
    max-width: 405px;
  }

  .platform--psvr .platform-img {
    order: 1;
  }
}

@media (min-width: 1024px) {
  .platform-name::before {
    top: -140px;
    left: 40%;
    width: 250px;
    height: 250px;
  }
}

/* Games */

.swiper-wrapper--games {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .swiper--games .swiper-slide {
    /* background: #a12845; */
  }

  .swiper--games img {
    /* object-fit: contain; */
  }
}

/* Price */

.price__table {
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  background: #111136;
}

* + .price__table {
  margin-top: 20px;
}

.price__table th {
  padding: 16px 12px;
  text-align: left;
  vertical-align: bottom;
  font-size: 16px;
  font-weight: 700;
  color: #999;
  text-transform: uppercase;
}

.price__table td {
  padding: 16px 12px;
  vertical-align: top;
}

.price__table td > :last-child {
  margin-bottom: 0;
}

.price__table tfoot {
  font-size: 14px;
}

.price__table caption {
  font-size: 14px;
  text-align: left;
  color: #999;
}

.price__table > tr.uk-active,
.price__table tbody tr.uk-active {
  background: #ffd;
}

.price__table-middle,
.price__table-middle td {
  vertical-align: middle;
}

.price__table-divider > :first-child > tr:not(:first-child),
.price__table-divider > :not(:first-child) > tr,
.price__table-divider > tr:not(:first-child) {
  border-top: 1px solid #e5e5e5;
}

.price__table-striped > tr:nth-of-type(even),
.price__table-striped tbody tr:nth-of-type(even) {
  background: #08082c;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.price__table-hover > tr:hover,
.price__table-hover tbody tr:hover {
  background: #ffd;
}

.price__table-small td,
.price__table-small th {
  padding: 10px 12px;
}

.price__table-justify td:first-child,
.price__table-justify th:first-child {
  padding-left: 0;
}

.price__table-justify td:last-child,
.price__table-justify th:last-child {
  padding-right: 0;
}

.price__table-shrink {
  width: 1px;
}

.price__table-expand {
  min-width: 300px;
}

.price__table-link {
  padding: 0;
}

.price__table-link > a {
  display: block;
  padding: 16px 12px;
}

.price__table-small .price__table-link > a {
  padding: 10px 12px;
}

.cell-rent {
  text-align: center;
}

.price__table li {
  padding: 4px 0;
}

.price__table b {
  display: block;
  margin-bottom: 10px;
}

/* Find Us */

.video-veshalka,
.gis iframe {
  border-radius: 4px;
}
